body {
  margin: 0;
  background-color: #ab88ff;
  font-family: "Mulish", sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; /*Revisar que se esta yendo la 
  foto del usuario muy hacia arriba*/
}
.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute; /*Posicion fija*/
  text-align: right;
  margin: 0px 0px 0px -14px;
}
.header__menu {
  margin-right: 30px;
}
.header__menu li {
  /*Separr arriba y abajo los enlaces
  Cuenta y Cerrar Sesión*/
  margin: 8px 0px;
}
.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu:hover ul,
ul:hover {
  /*Cada vez que haga hover sobre la imagen del User
  o en la letra Perfil, se desplega la lista*/
  display: block;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: flex;
  margin-right: 8px;
  cursor: pointer;
  align-items: center; /**/
}

.header__menu--profile img {
  /*Disminur el tamaño de la imagen y 
  separar la imagen en ambas direcciones*/
  margin: 8px;
  height: 40px;
}
.header__menu--profile p {
  margin: 0;
  color: white;
}

/*Main*/
.main {
  height: 300px; /*Tamaño del area*/
  text-align: center;
  margin-top: 70px;
}

.main__title {
  color: white;
  font-size: 30px;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  color: white;
  border-radius: 25px;
  height: 30px;
  width: 70%;
  padding: 0 20px; /*Separación a los lados dentro del input*/
  font-size: 16px;
  outline: none; /*Eliminar borde cuando se selecciona el input*/
  font-family: "Mulish", sans-serif;
}
::placeholder {
  color: white;
}

/*Lista de videos*/

.carousel {
  width: 100%;
  padding: 30px;
  overflow: scroll;
}
.carousel__container {
  margin: 70px 0; /*Separacion Arriba y abajo*/
  white-space: nowrap;
  padding: 10px; /*Separacion interna*/
}
.carousel-item {
  background-color: chartreuse;
  width: 200px; /*ALto*/
  height: 250px; /*Ancho*/
  border-radius: 20px;
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
  transition: 450ms;
  cursor: pointer;
  transform-origin: center left;
}
.carousel-item:hover ~ .carousel-item {
  /*Trasladar cuando se posiciona sobre un objeto*/
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  /*Opacidad cuando se posiciona sobre uno los demas
  se comportan de esta forma */
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5); /*Animación hacia afuera de la pagina*/
  opacity: 1; /*Respecto al objeto que se posicione con el mouse
  reaccion poniendo mas intensidad a su color*/
}

.carousel-item__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
